.post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 40%;
    height: 15%;
    margin: 1rem 0rem 1rem 0rem;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.post-card:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

.post-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 10%;
}

.browse-text {
    color: black;
    font-size: 3rem;
    margin-top: 1rem;
}