.blog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blog-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}


.blog-title {
    width: 70%;
    margin-top: -5rem;
}

.blog-title-text {
    width: 100%;
    border-radius: 13px;;
}

.blog-content {
    margin-top: -7rem;
    height: 30%;
    width: 70%;
}

.blog-editor {
    width: 100%;
    height: 15rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.blog-submit {
    margin-top: -5rem;
    width: 70%;
}