/* css style used to apply to all files */

* {
    margin: 0;
    padding: 0;
 }

 html, body {
    height: 100%;
    margin: 0;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    }
    
#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}
