.user-navbar{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
}

.first-nav{
    display: flex;
}

.middle-nav{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.last-nav{
    display: flex;
}