/* Resuable css code */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sub-container{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 4rem;
}

.form-container {
    width: 75%;
    height: 85%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 25%;
    width: 55%;
}

.nav-banner {
    display: flex;
    background-color: black;
    height: 5rem;
    align-items: center;
    padding: 0px 10px 0px 10px;
    font-size: 2rem;
}

.icon {
    border: solid 1px white;
    padding: 8px;
}

.text-white {
    color: white;
}

.nav-2-items {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 4rem;
}

.font-fam-roboto {
    font-family: Roboto;
}

.font-size-1rm {
    font-size: 1rem;
}

.u-button {
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
  
.u-button:focus,
.u-button:hover {
    color: #fff;
}

.u-button:focus:after,
.u-button:hover:after {
    width: 100%;
    left: 0%;
}

.u-button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.press-button {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}
   
.press-button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}
   
.press-button:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}
   
.press-button:disabled {
    cursor: auto;
    color: grey;
}


.UILoginSignupForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(59, 55, 55);
    /* background-color: gray; */
}

.circle-corner-right {
    border-radius: 0 10px 10px 0;
}

.circle-corner-left {
    border-radius: 10px 0 0 10px;
}

