.view-post-container {
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    width: 100vw;
}


.title {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: xx-large;
    margin-bottom: 10px;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: medium;
    margin-bottom: 5rem;
}

.content{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    font-family: sans-serif;
    font-size: x-large;
}

.content-text {
    width: 60%;
    white-space: pre-line;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.comment-text {
    display: flex;
    flex: 1;
    margin-bottom: 5rem;
}

.comment-form {
    display: flex;
    flex: 1;
}

.text-div {
    display: flex;
    flex: 1;
    justify-content: center;
}


.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.comment-text-field {
    margin-right: 10px;
    width: 50%
}

.comment-field {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    width: 40%;
    border-radius: 1rem;
    padding-left: 2rem;
    height: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}